<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Pollinator Plant Finder {% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js"
            integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" 
            crossorigin="anonymous"></script>

    <!-- REACT BOOTSTRAP TAG -->
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <script>var Alert = ReactBootstrap.Alert;</script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <!--  GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- AWESOME FONT FOR ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
    
    <!-- REACT BOOTSTRAP CSS -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous" />

    <!-- custom css below bootstrap: -->
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"></script>

    <!-- chartjs script tags -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- below: for flavicon error -->
    <link rel="icon" href="data:,">

    <!-- google charts script tag -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- div for navbar -->
    <div id='nav_bar'></div>
    <!-- regions_div for geochart map -->
    <div id='regions_div' class="regions-div"></div>
    <div id='root'></div>
    
    <!-- jsx react app files -->
    <script type='text/jsx' src='static/js/plantcard.jsx'></script>
    <script type='text/jsx' src='static/js/bloom-period-chart.jsx'></script>
    <script type='text/jsx' src='static/js/flower-color-chart.jsx'></script>
    <script type='text/jsx' src='static/js/garden.jsx'></script>
    <script type='text/jsx' src='static/js/map.jsx'></script>
    <script type='text/jsx' src='static/js/register.jsx'></script>
    <script type='text/jsx' src='static/js/login.jsx'></script>
    <script type='text/jsx' src='static/js/home.jsx'></script>
    <script type='text/jsx' src='static/js/about.jsx'></script>
    <script type='text/jsx' src='static/js/app.jsx'></script>
    
</body>
</html>